#Udemy Data Analysis

In [2]:
import pandas as pd

In [3]:
pokemon = pd.read_csv('pokemon.csv', usecols = ['Pokemon']).squeeze('columns')

In [52]:
google = pd.read_csv('google_stock_price.csv').squeeze('columns')

In [5]:
google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [6]:
google.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

In [7]:
google.values

array([ 50.12,  54.1 ,  54.65, ..., 773.18, 771.61, 782.22])

In [8]:
google.index

RangeIndex(start=0, stop=3012, step=1)

In [9]:
google.name

'Stock Price'

In [10]:
pokemon.sort_values(ascending = False)

717      Zygarde
633     Zweilous
40         Zubat
569        Zorua
570      Zoroark
         ...
680    Aegislash
616     Accelgor
358        Absol
62          Abra
459    Abomasnow
Name: Pokemon, Length: 721, dtype: object

In [11]:
google.tail()

3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, dtype: float64

In [12]:
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [13]:
pokemon.sort_index(inplace = True, ascending = False)

In [14]:
pokemon

720     Volcanion
719         Hoopa
718       Diancie
717       Zygarde
716       Yveltal
          ...
4      Charmeleon
3      Charmander
2        Venusaur
1         Ivysaur
0       Bulbasaur
Name: Pokemon, Length: 721, dtype: object

In [15]:
pokemon.index

Int64Index([720, 719, 718, 717, 716, 715, 714, 713, 712, 711,
            ...
              9,   8,   7,   6,   5,   4,   3,   2,   1,   0],
           dtype='int64', length=721)

In [16]:
'Hoopa' in pokemon.values

True

In [17]:
pokemon[[2, 34, 123]]

2      Venusaur
34     Clefairy
123        Jynx
Name: Pokemon, dtype: object

In [33]:
guitars_dict = {
    "Fender Telecaster": "Baby Blue",
    "Gibson Les Paul": "Sunburst",
    "ESP Eclipse": "Dark Green"
}

guitars = pd.Series(guitars_dict)
guitars

Fender Telecaster     Baby Blue
Gibson Les Paul        Sunburst
ESP Eclipse          Dark Green
dtype: object

In [47]:
def classify(num):
    if num < 300:
        return "Okay"
    else:
        return 'Not Okay'

In [48]:
google.apply(classify)

0           Okay
1           Okay
2           Okay
3           Okay
4           Okay
          ...
3007    Not Okay
3008    Not Okay
3009    Not Okay
3010    Not Okay
3011    Not Okay
Name: Stock Price, Length: 3012, dtype: object

In [53]:
google.apply(lambda price: f'${price}')

0        $50.12
1         $54.1
2        $54.65
3        $52.38
4        $52.95
         ...
3007    $772.88
3008    $771.07
3009    $773.18
3010    $771.61
3011    $782.22
Name: Stock Price, Length: 3012, dtype: object

In [54]:
nba.head(3).to_dict()

{'Name': {0: 'Avery Bradley', 1: 'Jae Crowder', 2: 'John Holland'},
 'Team': {0: 'Boston Celtics', 1: 'Boston Celtics', 2: 'Boston Celtics'},
 'Number': {0: 0.0, 1: 99.0, 2: 30.0},
 'Position': {0: 'PG', 1: 'SF', 2: 'SG'},
 'Age': {0: 25.0, 1: 25.0, 2: 27.0},
 'Height': {0: '6-2', 1: '6-6', 2: '6-5'},
 'Weight': {0: 180.0, 1: 235.0, 2: 205.0},
 'College': {0: 'Texas', 1: 'Marquette', 2: 'Boston University'},
 'Salary': {0: 7730337.0, 1: 6796117.0, 2: nan}}

In [73]:
nba = pd.read_csv('nba.csv')


def convert_to_usd(amount):
    try:
#         str_amt = str(amount)
        if int(amount) or float(amount):
            return f'${amount}'
        return None
    except:
        return None

nba['Salary'].apply(convert_to_usd)

0      $7730337.0
1      $6796117.0
2            None
3      $1148640.0
4      $5000000.0
          ...
453    $2433333.0
454     $900000.0
455    $2900000.0
456     $947276.0
457          None
Name: Salary, Length: 458, dtype: object

In [75]:
pd.Series({'Name': {0: 'Avery Bradley', 1: 'Jae Crowder', 2: 'John Holland'},
 'Team': {0: 'Boston Celtics', 1: 'Boston Celtics', 2: 'Boston Celtics'},
 'Number': {0: 0.0, 1: 99.0, 2: 30.0},
 'Position': {0: 'PG', 1: 'SF', 2: 'SG'},
 'Age': {0: 25.0, 1: 25.0, 2: 27.0},
 'Height': {0: '6-2', 1: '6-6', 2: '6-5'},
 'Weight': {0: 180.0, 1: 235.0, 2: 205.0},
 'College': {0: 'Texas', 1: 'Marquette', 2: 'Boston University'},
 'Salary': {0: 7730337.0, 1: 6796117.0, 2: None}})

Name        {0: 'Avery Bradley', 1: 'Jae Crowder', 2: 'Joh...
Team        {0: 'Boston Celtics', 1: 'Boston Celtics', 2: ...
Number                             {0: 0.0, 1: 99.0, 2: 30.0}
Position                          {0: 'PG', 1: 'SF', 2: 'SG'}
Age                               {0: 25.0, 1: 25.0, 2: 27.0}
Height                         {0: '6-2', 1: '6-6', 2: '6-5'}
Weight                         {0: 180.0, 1: 235.0, 2: 205.0}
College     {0: 'Texas', 1: 'Marquette', 2: 'Boston Univer...
Salary                  {0: 7730337.0, 1: 6796117.0, 2: None}
dtype: object